/* Стилизация кнопки */

.button__item {
    display: inline-flex;
    flex-direction: column;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 66px;
    margin: 0 15px 15px 0;
    border-radius: 8px;
}

.button__item_primary {
    background: var(--blue);
}

.button__item_primary:hover{
    background: #2342C0;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button__item_primary:active{
    transform: scale(0.9);
}

.button__item_secondary {
    background: var(--purple);
}

.button__item_secondary:hover{
    background: #5028C6;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button__item_secondary:active{
    transform: scale(0.9);
}

.button__item_alternate {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    color: #495057;
}

.button__item_alternate:active{
    transform: scale(0.9);
}

.button__item_alternate:hover{
    border: 1px solid #212429;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button__item_disabled:disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
