@import "assets/css/main.css";
/* Стилизация кнопки */

.button-group{

}

.button-component {
    display: inline-flex;
}

.button-component__title {
    flex: 1 0 50%;
    text-align: center;
}

.button-component__forms {
    flex: 0 1 50%;
    flex-direction: column;
}

.button-component__item {
    display: inline-flex;
    flex-direction: column;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 66px;
    margin: 0 15px 15px 0;
    border-radius: 8px;
}

.button-component__item_primary_blue {
    background: var(--blue);
}

.button-component__item_primary_hover:hover {
    background: #2342C0;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;

}

.button-component__item_primary_blue:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.button-component__item_secondary_purple {
    background: var(--purple);
}

.button-component__item_secondary_hover:hover {
    background: #5028C6;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button-component__item_secondary_purple:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.button-component__item_alternate_simple {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    color: #495057;
}

.button-component__item_alternate_hover:hover {
    border: 1px solid #212429;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button-component__item_alternate_simple:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
