.card {
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    width: 30%;
    height: 367px;
}

.card__top {
}

.card__body {
}

.card__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}

.card__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--grey-4);
}