/* Стилизация аккордеона */

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

summary {

}

.accordion {
    padding: 32px;
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
}

.accordion:after {
    content: '';
    display: block;
    top: 0;
    right: 0;
    width: 16px;
    height: 8px;
    background: url("../assets/images/decorations/arrow.svg");
}

.accordion__title {
    color: #495057;
}

.accordion__text {
    color: #212429;
}