.sidebar-menu {
    position: fixed;
    top: 0;
    left: 2%;
}

@media screen and (max-width: 767px){
    .sidebar-menu {
        display: none;
    }
}

.sidebar-menu__title{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.3;
    color: var(--black);
}

.sidebar-menu__list{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.57;
    color: var(--black);
}

.sidebar-menu__item{

}

.sidebar-menu__item:hover{
    color: #D84910;
}