@import "../../assets/css/main.css";

.page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 1.75rem;
    padding: 1rem;
}

.page__header {
    background-color: var(--white);

}

.header {
    position: relative;
}

.header__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 1.36;
    color: var(--grey-4);
    text-align: center;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3.5rem;
    background: #F9FAFC;
    padding: 2.25rem 10.3125rem;
    position: relative;
}

@media screen and (max-width: 767px) {
    .page__main {
        grid-column-gap: 0;
    }
}

@media screen and (max-width: 768px){
    .page__main {
        padding: 0;
    }
}

/*Реализация компонента внутри карточки*/

/*.component {*/
/*    max-width: 1440px;*/
/*    background: var(--white);*/
/*    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);*/
/*    border-radius: 12px;*/
/*}*/

/*.component__title{*/
/*    font-family: Inter, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 1.75rem;*/
/*    line-height: 1.36;*/
/*    color: var(--grey-4);*/
/*}*/

.page__footer {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3.5rem 0 3.5rem 0;
    opacity: 0.3;
}
