.skeleton {
    max-width: 580px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;

}

.skeleton-section {
    display: flex;
    gap: 16px;
    align-items: center;
}

.skeleton-circle {
    background: var(--grey-2);
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.skeleton-lines{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
}

.skeleton__line {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
}

.skeleton__line_width_small{
    max-width: 40%;
}

.skeleton__line_width_middle{
    max-width: 60%;
}

.skeleton-body {
}