.tooltip {
    position: relative;
}

.tooltip__icon {
    cursor: pointer;
    left: 50px;
    top: 51px;
    position: absolute;
    width: 24px;
    height: 24px;
}

.tooltip__icon:hover ~ .tooltip__bubble{
    display: inline-block;
}

.tooltip__bubble {
    padding: 10px;
    font-family: Inter, sans-serif;
    line-height: 1.5;
    color: #DDE2E5;
    background: #4263EB;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    top: calc(100% + 8px);
    right: 0;
    transform: translateX(7%);
    display: none;
}

.tooltip__bubble:after{
    content: '';
    position: absolute;
    bottom: -46%;
    left: 50%;
    border: 12px solid transparent;
    border-top: 8px solid #4263EB;
    transform: translateX(-50%);
}